<ion-header >

    
  
</ion-header>
<ion-content [fullscreen]="true"> 
  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-icon name="arrow-back-outline" style="font-size: 30px;" (click)="retour()" ></ion-icon>
    
  </ion-fab>
  
    <div>
    
      <img style="width: 200px; display: block; margin: auto;" src="assets/images/poulet2.png"/>
    </div>
     
    <ion-list lines="none" class="ion-padding ion-text-center">
      <!-- <ion-card class="" style="box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; display: block; margin: auto; width: 300px;" >
        <ion-card-content> -->
          <form>
            <ion-item class="ion-margin-vertical">
              <ion-icon name="person-outline" slot="end" color="primary"></ion-icon>
              <ion-input 
                
                placeholder="Nom d'utilisateur">
              </ion-input>
            </ion-item>
        <!-- <ion-item class="ion-margin-vertical">
          <ion-icon 
            name="person-outline" slot="end" color="primary">
          </ion-icon>
          <ion-input 
            
            placeholder="Enter Username">
          </ion-input>
        </ion-item> -->
        

        <ion-item class="ion-margin-vertical">
          <ion-icon 
            name="mail-outline" slot="end" color="primary">
          </ion-icon>
          <ion-input 
            
            placeholder="Identifiant">
          </ion-input>
        </ion-item>
      
        <ion-item class="ion-margin-vertical">
          <ion-icon (click)="onChange()"
            [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
            slot="end" 
            [color]="isTypePassword ? 'primary' : 'primary'">
          </ion-icon>
          <ion-input 
            
            [type]="isTypePassword ? 'password' : 'text'"
            placeholder=" Mot de passe">
          </ion-input>
        </ion-item>
        
        

        <ion-row class="ion-margin-vertical">
          <ion-col size="12" class="alignItems">
            <div align=left>
              <ion-checkbox></ion-checkbox>
              <ion-note>I accept the policy and terms</ion-note>
            </div>
          </ion-col>
        </ion-row>
        <ion-button color="primary" shape="round" >Inscrire</ion-button>
    </form>
    <!-- </ion-card-content>
    </ion-card> -->
    </ion-list>
</ion-content>
<ion-footer>
  <div class="circleBase type4 circle3"></div>
  <div class="circleBase type3"></div>
  <!-- <div class="circleBase type4 circle4"></div> -->
</ion-footer>