<ion-content [fullscreen]="true">
  <!-- <div class="circleBase type2 circle1"></div>
  <div class="circleBase type1"></div> -->
  <!-- <div class="circleBase type2 circle2"></div> -->
  <div>
    <img style="width: 200px; display: block; margin: auto;" src="assets/images/poulet2.png" />
  </div>
  

  <!-- <ion-label class="welcomeMessage">
    <ion-text color="light">Welcome Back,</ion-text> 
    <ion-text color="white">
      <p>Log In!</p>
    </ion-text>
  </ion-label>  -->
  <!-- <div >
    <img width="20px" src="assets/images/poulet1.png" />
  </div> -->

  
    <ion-list lines="none" class=" ion-padding ion-text-center">
      
        <!-- <ion-card class="" style="box-shadow: #38270fe5 0px 3px 8px; display: block; margin: auto; width: 50%; ">
          <ion-card-content> -->
            <form >
      <ion-item >
        <ion-icon 
          name="mail-outline" slot="end" color="primary">
        </ion-icon>
        <ion-input 
          
          placeholder="Enter Email Address">
        </ion-input>
      </ion-item>
      <!-- <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('email').valid && form.get('email').touched">
        <p class="error">*Please enter proper Email Address</p>
      </ion-text> -->

      <ion-item class="ion-margin-vertical">
        <ion-icon (click)="onChange()"
          [name]="isTypePassword ? 'lock-closed-outline' : 'lock-open-outline'" 
          slot="end" 
          [color]="isTypePassword ? 'primary' : 'primary'">
        </ion-icon>
        <ion-input 
          
          [type]="isTypePassword ? 'password' : 'text'"
          placeholder="Enter Password">
        </ion-input>
      </ion-item>
      <!-- <ion-text 
        class="ion-text-left"
        color="danger"
        *ngIf="!form.get('password').valid && form.get('password').touched">
        <p 
          class="error" 
          *ngIf="form.get('password').invalid && form.get('password').errors.required">
          *Please enter your Password
        </p>
        <p 
          class="error" 
          *ngIf="form.get('password').dirty">
          *Password must be of atleast 8 characters
        </p>
      </ion-text> -->

      <ion-row class="ion-margin-vertical">
        
        
          <div align=right>
            <ion-note>Mot de passe oublier?</ion-note>
          </div>
       
      </ion-row>
      <ion-button color="primary"  
      expand="block"  >Connexion</ion-button>
      
      <p class="signup">
        <ion-note>
          Si vous n'avez pas de compte? <ion-text (click)="inscription()" color="primary">Creer compte</ion-text>
        </ion-note>
      </p>
    </form>
  <!-- </ion-card-content>
</ion-card> -->
    </ion-list>
   
  
</ion-content>
<ion-footer>
  <div class="circleBase type4 circle3"></div>
  <div class="circleBase type3"></div>
  <!-- <div class="circleBase type4 circle4"></div> -->
</ion-footer>
