<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 3
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  
  <div id="header">
    <div id="app-bar">
     <ion-icon name="arrow-back-outline"></ion-icon>
     
    </div>
    
    <div></div>
    <div id="logo">
      <img src="assets/images/icons8-user-64.png">
      
     </div>
    
  </div>

 
  <div class="wrapper">
    
    <ion-card class="form-wrapper">
     <ion-card-content>
      <!-- <h4 style="text-align: center; margin: 10px; color: #F39200;">Ibrahim Diawara</h4> -->
      
      <div class="socials">
        <ion-button class="btn-f">
          Acheteur
          <!-- <ion-icon name="book"></ion-icon><br> -->
         </ion-button>
       <ion-button class="btn-log">
        <ion-icon style="color:red;" name="log-out"></ion-icon>
       </ion-button>
      </div>
    
      
     </ion-card-content>
    
    </ion-card>
    </div>
    <div class="for">
    <ion-card class="form-wrappe">
      <ion-card-content>
        <ion-row>
        <img style="width: 30px;" src="assets/images/profil.png" alt="">
       <ion-text style="margin-top: 5px; margin-left: 15px;">Ibrahim Diawara</ion-text>
      </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="form-wrappe">
      <ion-card-content>
        <ion-row>
        <img style="width: 30px;" src="assets/images/appel-telephonique (3).png" alt="">
       <ion-text style="margin-top: 5px; margin-left: 15px;">94121415</ion-text>
      </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="form-wrappe">
      <ion-card-content>
        <ion-row>
        <img style="width: 30px;" src="assets/images/gps.png" alt="">
       <ion-text style="margin-top: 5px; margin-left: 15px;">Daoudabougou</ion-text>
      </ion-row>
      </ion-card-content>
    </ion-card>
    <ion-card class="form-wrappe">
      <!-- <ion-card-content>
        <ion-row>
        <img style="width: 30px;" src="assets/images/icons8-user-64.png" alt="">
       <ion-text style="margin-top: 5px; margin-left: 15px;">Diawara9412</ion-text>
      </ion-row>
      </ion-card-content> -->
    </ion-card>
    
  </div>
  <ion-button expand="block" style="margin: 15px; margin-top: 15px; margin-left: 20px; margin-right: 20px; border-radius: 20px;">Modifier Profile</ion-button>
  
  


</ion-content>
